body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
<<<<<<< HEAD
    background-image: url(./496765187c040c2072e7f065c92c0e97.jpeg);
=======
    background-image: url(../Connect4_local/496765187c040c2072e7f065c92c0e97.jpeg);
>>>>>>> 499c36bf561431cdf7229cedffe18c801386f019
}

.game-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    width: 630px;
    height: 540px;
    background: black;
    border: 10px solid goldenrod;
   
  }

  #playerturn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;
    border: 5px solid goldenrod;
}

.red-piece{
    background-color: red;
}

.yellow-piece{
    background-color: yellow;
}