body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url(.//Images/496765187c040c2072e7f065c92c0e97.jpeg);
    background-position: center;
}

img {
    width: 200px;
    margin-bottom: -40px;

}

h2 {
   text-align: center;

}

.top-text {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    align-content:flex-start;
    margin-bottom: 15px;
    
}

.game-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    height: 540px;
    background: black;
    border: 10px solid goldenrod;
   
  }

p {
    font-size: 20px;
    color: black;
    padding: 10px 10px;
    border: 4px solid black;
    background: goldenrod;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid goldenrod;
}

.reset{
    background-color: goldenrod;
    font-size: 20px;
    color: black;
    padding: 10px 10px;
    border: 4px solid black;
    margin-left: 200px;
}


.hide {
    display: none;
}

.show {
    display: block;
}

#winner-display {
    color: rgb(9, 30, 152);
    position: absolut;
    top: 10vw;
    right: 10vw;
    font-size: 50px;
    z-index: 3;
}


